.topAppBar {
  height: 10vh;
  filter: drop-shadow(10px);
  /* Creates the bottom scalloped edge */
  mask:
    linear-gradient(0, #0000 30px, #000 0),
    radial-gradient(30px, #000 calc(100% - 1px), #0000) bottom/55.5px 60px;
}
